body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.converter{
    
    padding: 20px;
    text-align: center;
    background-color: rgb(94, 94, 123);
    border-radius: 15px;
    
}
button{
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    background-color: inherit;
}
.form-select{
    margin: 5px;
    background-color:inherit ;
    border-radius: 5px;
    border-color: inherit

}
input{
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: inherit;
}